.bground {
    background-color: black;
}

a {
    padding-right: 10px;
}

.logo {
    transition: all 1s;
}

.logo:hover {
    transform: rotate(360deg);
    transition: rotate(360deg) 1s;
}

.textLink{
    color: white;
    text-decoration: none;
}

.textLink:hover{
    color: blue;
}